$grey: #EEF0F4;
$blue: #0071C4;
$dark-grey: #566b8d;

.workflowwidget.workflow-widget {
  align-items: center;
  display: flex;

  &.workflow-widget--margin-right {
    margin-right: 160px;
  }
}

.workflow-widget__button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 3px !important;
  display: flex;
  padding: 2px 5px;
  transition: opacity 150ms;

  svg {
    width: 24px;
  }

  &.workflow-widget__button--loading {
    opacity: 0.1;
  }
}

.workflow-widget__item__icon {
  font-size: 22px;

  &.workflow-widget__item__icon--red {
    color: red;
  }

  &.workflow-widget__item__icon--blue {
    color: blue;
  }

  &.workflow-widget__item__icon--green {
    color: green;
  }
}

.workflow-widget__item {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  // This is to prevent us running into resize issues when you select an item
  min-width: 140px;
  padding: 7px 18px;
  transition: color 150ms, background-color 150ms;

  .workflow-widget__item__icon {
    margin-right: 12px;
  }

  img {
    padding: 2px;
    border-radius: 3px;
    margin-right: 12px;
  }

  &.workflow-widget__item--active {
    background-color: $blue;
    color: white;

    &:hover {
      background-color: $blue;
    }

    img {
      background-color: white;
    }

    .workflow-widget__item__icon {
      color: white;
    }
  }

  &.workflow-widget__item--no-state {
    color: $dark-grey;
    font-style: italic;

    &.workflow-widget__item--active {
      color: white;
    }
  }

  &:hover {
    background-color: $grey;
  }


  &.workflow-widget__item--link {
    img {
      margin-right: 10px;
      padding-top: 0;
      padding-bottom: 0;
      width: 28px;
    }
  }
}

/**
 * Elemental actions
 */
.workflow-element-actions {
  align-items: center;
  display: flex;
}
