$grey: #EEF0F4;
$blue: #0071C4;
$dark-grey: #566b8d;

.workflowwidget.workflow-widget {
  align-items: center;
  display: flex;
}

.workflow-widget__button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 3px !important;
  display: flex;
  padding: 2px 5px;
  transition: opacity 150ms;

  svg {
    margin-right: 5px;
    width: 20px;
  }

  &.workflow-widget__button--loading {
    opacity: 0.5;
  }
}

.workflow-widget__item {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  // This is to prevent us running into resize issues when you select an item
  min-width: 140px;
  padding: 5px 18px;
  transition: color 150ms, background-color 150ms;

  img {
    padding: 2px;
    border-radius: 3px;
    margin-right: 12px;
  }

  &.workflow-widget__item--active {
    background-color: $blue;
    color: white;

    &:hover {
      background-color: $blue;
    }

    img {
      background-color: white;
    }
  }

  &.workflow-widget__item--no-state {
    color: $dark-grey;
    font-style: italic;

    &.workflow-widget__item--active {
      color: white;
    }
  }

  &:hover {
    background-color: $grey;
  }
}

/**
 * Elemental actions
 */
.workflow-element-actions {
  align-items: center;
  display: flex;
}
